@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #333;
  flex: 0 1 auto; 
  color: white;
}

.App-content {
  flex: 1;
  overflow-y: auto;
}

.App-footer {
  background-color: #333;
  color: white;
  flex: 0 1 auto;
}

